{% extends 'base.html' %}

{% block title %}Email enviado{% endblock title %}

{% block content %}
    <div class="ag-mv-5 ag-form-container">
        <h1 class="ag-textCenter">Revise su Correo electrónico</h1>
        <br><br>
        <p>Le enviamos un email con las instrucciones para cambiar su contraseña</p>
        <br><br>
        <small class="ag-small-fontColor">Revise su bandeja de entrada para encontrar el email</small>
        <br>
        <small class="ag-small-fontColor">En caso de no hallarlo no olvide revisar su bandeja de spam</small>
    </div>
{% endblock content %}