{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Ingrese su nueva contraseña{% endblock title %}

{% block content %}
    <div class="ag-mv-5 ag-form-container">
        <h1 class="ag-textCenter">Ingrese su nueva contraseña</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="ag-bot-sec ag-float-right">
                <input class="btn btn-success btn-lg" type="submit" value="Cambiar contraseña">
            </div>
        </form>
    </div>
{% endblock content %}