{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}¿Olvidó su contraseña?{% endblock title %}

{% block content %}
    <div class="ag-mv-5 ag-form-container">
        <h1>¿Olvidó su contraseña?</h1>
        <p>Ingrese su E-mail y le enviaremos las instrucciones para cambiar su contraseña</p>
        <form method="POST">
        {% csrf_token %}
        {{{ form|crispy }}
        <div class="ag-bot-sec ag-float-right">
            <input class="btn btn-success" type="submit" value="Enviar instrucciones">
        </div>
        </form>
    </div>
{% endblock content %}