{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Cambiar contraseña{% endblock title %}

{% block content %}
    <h1>Cambiar contraseña</h1>
    <p> Por favor ingrese su contraseña anterior, y luego ingrese dos veces la nueva contraseña para verificar
    que haya tipeado correctamente.</p>
    <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    
    <div class="mt-3">
        <input class="btn btn-success" type="submit" value="Cambiar contraseña">
    </div>
    </form>
{% endblock content %}