{% extends 'base.html' %}

{% block content %}
    <h2>Juego #{{object.id}} de {{user.get_full_name}}</h2>
	<hr>
		<form action="" method="post">{% csrf_token %}
			{% include "includes/_form_errors.html" %}
	        {% include "includes/_forms.html" %}
			<hr>
			<div class="ag-flex-space">
				<!-- <a href="{% url 'mis_partidas' %}" class="btn btn-outline-primary ag">Cancelar</a> -->
				<button class="btn btn-primary ml- ag-float-right" type="submit">Finalizar</button>
			</div>
		
	</form>
{%endblock%}