{% extends 'base.html' %}

{% block content %}

{% if messages %}
	{% for message in messages %}  
		  <div class="alert alert-success alert-dismissible fade show" role="alert">
			<i class="far fa-check-circle"></i> {{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		  </div>
	{% endfor %}
{% endif %}

<div class="izq">
	<a href="{% url 'nuevo_juego' %}" id="nuevo_elemento" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Nueva partida</a>
</div>

	 {% if listaPartidas %}
		<ul class="p-0 mb-5">
				<table id="tablajs" class="table table-striped tab_resp">
				  <thead>
				    <tr>
				      <th scope="col"># ID Partida</th>
				      <th scope="col">Dificultad</th>
					  <th scope="col">Puntos</th>
				      <th scope="col">¿Finalizado?</th>
				      <th scope="col">Acciones</th>
				    </tr>
				  </thead>

				  <tbody>
				    {% for partida in listaPartidas %}
						<tr>	      
							<td><a href="">{{partida.id}}</a></td>
							<td>{{partida.get_dificultad_display}}</td>
							<td>
								{% if partida.finalizado %}
                                    {{partida.puntos}}
                                {%else%}
                                    -
                                {%endif%}
                            </td>
							<td>
                                {% if partida.finalizado %}
                                    Si
                                {%else%}
                                    No
                                {%endif%}
                            </td>
							<td class="ag-alinear-texto-der">
                                {% if partida.finalizado %}
                                    <span class="notexport cgris" class="icono" title="Juego finalizado"><i class="fas fa-cogs"></i></span>
                                {%else%}
								<!-- Inicio Boton Acciones -->
                                    <div class="btn-group dropstart">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-cogs"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="{% url 'juego' partida.pk %}"> <i class="fas fa-play"></i> ¡JUGAR!</a>
                                            </li>
                                        </ul>
                                    </div>
								<!-- Fin boton Acciones -->
                                {%endif%}
							</td>
						</tr>
				    {% endfor %}
				  </tbody>
				</table>
		</ul>	

{%else%}
    <div class="mt-10">
        <h3 class="text-secondary text-center ag-mt-10 ag-mb-10">Ud. no tiene juegos registrados aún</h3>
    </div>
{% endif %}
{% endblock content %}